[program:portfolio]
process_name=%(program_name)s
directory={{ ansible_env.PWD }}/portfolio/target/universal/stage/bin
command=/bin/bash -c "{{ ansible_env.PWD }}/portfolio/target/universal/stage/bin/portfolio -Dhttp.port=9040 -Dconfig.file={{ ansible_env.PWD }}/portfolio/target/universal/stage/conf/application.conf"
autostart=true
autorestart=true
user=root
redirect_stderr=true
stdout_logfile=/dev/null